.cabecalho
{
    padding: 30px;
    background-color: #7600bc;
    font-size: 20px;
}

.cabecalho > ul
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

a
{
    text-decoration: none;
    color: #cece;
}

.queryByEmail
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    overflow: hidden;
    margin: 5px;
    width: 100%;
    color: #eee;
    font-size: 30px;
}

.emailRegistrado
{
    width: 30%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}