section
{
    display: flex;
    flex-flow: column;
    color: #ccc;
}

.container-form > form
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80vh;
    padding: 50px;
    border: 1px solid #ccc;
}

.container-form > form > input, .container-form > form > select, .container-form > form > textarea 
{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin: 5px 0 0 0;
}
.container-form > form > div > div
{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin: 5px 0 0 0;
}

.disabled
{
    cursor: none;
    background-color: #ddd;
}

.habilited
{
    cursor: pointer;
    background-color: #121;
    color: #ccc;
}

.container-form > form > span
{
    padding: 0 0 0 10px;
    font-size: 10px;
}

@media screen and (max-width: 940px) {
    .container-form > form
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 50h;
        width: 80vw;
        padding: 50px;
        border: 1px solid #ccc;
    }

    .container-form > form > input
    {
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 20px;
    }
}